* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.navigation {
  position: fixed;
  height: 100%;
  width: 120px;
  background-color: black;
  top: 0;
  left: -120px;
  transition: 0.3s;
  z-index: 2;
}

.navigation__item--div {
  position: absolute;
  display: block;
  color: white;
  text-align: center;
  font-size: 40px;
  bottom: 30px;
  left: calc(50% - 20px);
}

.navigation__link--div {
  text-decoration: none;
  color: white;
}

.fa-phone {
  transform: rotate(90deg);
  animation: move 1s infinite linear both;
}

@keyframes move {
  0% {
    transform: rotate(90deg);
  }

  10% {
    transform: rotate(70deg);
  }

  20% {
    transform: rotate(110deg);
  }

  35% {
    transform: rotate(70deg);
  }

  50% {
    transform: rotate(110deg);
  }

  65% {
    transform: rotate(70deg);
  }

  75% {
    transform: rotate(90deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.navigation.active {
  left: 0;
}

.navigation__list {
  list-style: none;
  margin-top: 15px;
}

.navigation__item--margin {
  margin-top: 40px;
}

.navigation__item a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.navigation__img {
  height: 50px;
}

.burger {
  position: fixed;
  top: 15px;
  right: 30px;
  width: 30px;
  height: 25px;
  transition: 0.2s linear;
  z-index: 2;
}

.burger.active {
  transform: rotate(90deg);
}

.burger__span {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: white;
  left: 0;
  border-radius: 10px;
  transition: top 0.2s 0.2s linear, bottom 0.2s 0.2s linear, opacity 0.2s 0.2s linear, transform 0.2s 0.4s linear,
    background-color 0.2s linear;
}

.burger__span.black {
  background-color: black;
}

.burger__span:nth-child(1) {
  top: 0;
}

.burger.active span:nth-child(1) {
  top: calc(50% - 2.5px);
  transform: rotate(45deg);
}

.burger span:nth-child(2) {
  top: calc(50% - 2.5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(3) {
  bottom: calc(50% - 2.5px);
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/img/agnieszka-chwialkowska-gb.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.header__wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__text {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  top: 60%;
  left: 0;
  font-size: 36px;
  color: white;
  text-align: center;
  /* text-transform: uppercase; */
  cursor: pointer;
  text-shadow: 2px 2px #111111;
}

.header__img {
  height: 120px;
  position: relative;
}

.off {
  display: none;
}

.main {
  position: relative;
  margin-top: 100vh;
}

.services {
  background-color: white;
}

.services__wrapper {
  padding: 24px 0;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
}

.services__article {
  padding: 24px 0;
  text-align: center;
  transition: 0.5s;
}

.services__article:hover {
  color: #cf2929;
  transform: scale(1.1);
}

.services__icon {
  font-size: 80px;
}

.services__header {
  padding: 24px 8px 8px;
  font-size: 30px;
}

.services__list {
  text-align: left;
  margin: 10px auto 0;
  list-style: none;
  font-size: 20px;
  display: flex;
  max-width: 80%;
  flex-direction: column;
  align-content: center;
}

.services__list--item:before {
  content: "•";
  margin-right: 8px;
  font-weight: 700;
}

.services__list--item {
  line-height: 130%;
  letter-spacing: 1px;
  padding: 4px 24px;
}

.feature__header {
  padding: 24px 8px 8px;
  font-size: 30px;
}

.office {
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
}

.office__wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 12px;
}

.office__header {
  padding: 24px 16px 8px;
  font-size: 30px;
}

.office__text {
  font-size: 18px;
  padding: 24px;
  line-height: 130%;
  letter-spacing: 1px;
}

.maxwidth {
  max-width: 1200px;
  margin: 0 auto;
}

.contact {
  background-color: white;
  padding-bottom: 24px;
}

.contact__wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.contact__header {
  padding: 24px 16px 8px;
  font-size: 30px;
}

.contact__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  text-align: center;
}

.contact__person--item {
  font-size: 16px;
  padding: 10px;
  line-height: 100%;
}

.contact__person--item span {
  font-size: 22px;
  font-weight: 700;
}

.contact__person--link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.contact__map {
  height: 370px;
  padding: 0 15px;
}

.contact__person--link:hover,
.contact__person--item:hover {
  color: #cf2929;
  font-weight: 700;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 16px;
  z-index: 1;
}

@media (min-width: 768px) {
  .contact__box {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas:
      "contact__foto contact__person"
      "contact__map contact__map";
  }

  .contact__foto {
    grid-area: contact__foto;
  }
  .contact__person {
    grid-area: contact__person;
  }
  .contact__map {
    grid-area: contact__map;
  }
}

@media (min-width: 1024px) {
  .navigation {
    display: none;
  }

  .burger {
    display: none;
  }

  .header__text {
    font-size: 66px;
  }

  .header__img {
    height: 200px;
  }
  .contact__box {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-areas: "contact__foto contact__person contact__map";
  }
}
